<!DOCTYPE html>
<html> 
  <head>
    <title>home page</title>
    <link rel='stylesheet' href='/stylesheets/css/index.css'/>
  </head>
  <body>
    
    <!-- navbar --> 
    <nav>
      <h1>THE AVENGER</h1>
      <ul>
        <li> <a href="/">Home</a></li>
        <li> <a href="/create">Create</a> </li>
        <li> <a href="/archieve">Archieve</a> </li>
        <!-- <li> <a href="">Contact</a> </li> -->
      </ul>
      <!-- <img src="../public/images/avenger-logo.png" alt=""> -->
    </nav>

    <!-- sing in or out -->
    <div class="signOrLog">
        <button class="buttonOne"> <a href="/login" > login </a> </button>
        <span>or</span>
        <button class="buttonTwo" > <a href="/signUp" id="signUp">sign up</a></button>
    </div>

    <div class="header">
      <h1>Latest Post</h1>
    </div>

    <!-- Latest blog post -->
    <div class="latestPost">
      
      <!-- <h2>Title: <%= posts[posts.length-1].title %> </h2> -->
      <h1> <%= posts[posts.length-1].title %> </h1>
      <img src="<%= posts[posts.length-1].image %>">
      <p> <%= posts[posts.length-1].description %> </p>
      <!-- <p><%- posts[posts.length-1].content %></p> -->
      <q><%= posts[posts.length-1].author %> </q>

      <div class="buttons">
        <button> <a href="/view/<%= posts[posts.length-1].id%>">Read Full Article</a> </button>
        <button> <a href="/edit/<%= posts[posts.length-1].id%>" style="display: none;">Edit Posts</a> </button>
        <button> <a href="/delete/<%= posts[posts.length-1].id%>" style="display: none;">Delete Posts</a> </button>
      </div>
      

    </div>

    <div class="header">
      <h1>More Posts</h1>
    </div>

    <% if(posts){ %>
      <%  for (let i = posts.length - 1; i >= 0 ; i--) { %>

      <div class="">
        <div class="containerBlog archiveContent">
        
          <div class="title">
            <h3 class=""><%= posts[i].title %></h3>
          </div>

          <div class="">
              <div class="imageHolder" id="<%= posts[i].id %>"> <img src="<%= posts[i].image %>" alt="">  </div>
              <div class="content"> <%- posts[i].description %></div>
              
          </div>

          <div class="author"> 
              <button> <a href="/view/<%= posts[i].id %>">Read Full Article</a> </button>
              <button> <a href="/edit/<%= posts[i].id%>" style="display: none;">Edit Posts</a> </button>
              <button> <a href="/delete/<%= posts[i].id%>" style="display: none;">Delete Posts</a> </button>
              <q><%= posts[i].author %> </q>
          </div>

        </div>

      </div>

      <% } %>

    <% } %>

    <footer>

        <img src="/images/footer-image.png" alt="">
        <h1>THE AVENGER &#169;</h1>
    </footer>

    

    <script></script>

  </body>
</html>
