<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->

    <link rel="stylesheet" href="/stylesheets/css/view.css">
  
  </head>
  <body>
    
    <!-- navbar -->
    <nav>
        <ul>
          <li> <a href="/">Home</a></li>
          <li> <a href="/create">Create</a> </li>
          <li> <a href="/archieve">Archieve</a> </li>
          <!-- <li> <a href="">Contact</a> </li> -->
        </ul>
        <!-- <img src="../public/images/avenger-logo.png" alt=""> -->
        <h1>THE AVENGER</h1>
      </nav>

    <!-- sing in or out -->
    <div class="signOrLog">
        <button class="buttonOne"> <a href="/signUp">sign Up</a> </button>
        <span>or</span>
        <button class="buttonTwo"><a href="/login">login</a></button>
    </div>

    <!-- Latest blog post -->
    <div class="latestPost">
      
        <!-- <h2>Title: <%= posts[posts.length-1].title %> </h2> -->
        <h1> <%- posts[id].title %> </h1>
        <img src="<%= posts[id].image %>">
        <p> <%- posts[id].content %> </p>
        <!-- <p><%- posts[posts.length-1].content %></p> -->
        <q><%= posts[id].author %> </q>
        <button> <a href="/">Go back</a> </button>
        <button style="display: none"> <a href="/edit/<%= posts[id].id%>">Edit Posts</a> </button>
      </div>  

      <footer>

          <img src="/images/footer-image.png" alt="">
          <h1>THE AVENGER &#169;</h1>
      </footer>

  </body>
</html> 